<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    .completed {
        text-decoration: line-through;
    }
</style>
<body>

    <div id="root">
        <ul>
            <li v-for="task in inCompleteTasks" v-text="task.description"></li>
        </ul>
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script>
    new Vue({

        el: '#root',
        data: {
            message: 'hello world',
            tasks: [
                {
                    description: 'Go to the store',
                    completed: false
                },
                {
                    description: 'Go to the store2',
                    completed: true
                },
                {
                    description: 'Go to the store3',
                    completed: true
                }
            ]
        },

        computed: {

            reversedMessage() {
                return this.message.split('').reverse().join('');
            },
            inCompleteTasks() {
                return this.tasks.filter(task => task.completed)
            }

        }

    })
</script>
</body>
</html>