<template>
  <div id="app">
    <message>Hello there</message>
  </div>
</template>

<script>
  import Message from './components/Message';

export default {
  name: 'app',
    components: {Message},
  data () {
    return {

    }
  }
}
</script>